/*----------------------------------------------------------
# CMS colors
-----------------------------------------------------------*/
$brand-color-light: #e5f3fa;
$brand-color-bright: #00CFFF;
$brand-color-medium: #046B99;
$brand-color-dark: #1C304A;

$cms-blue: #015390;
$cms-gold: #f3ce3b;
$cms-bright-blue: #009ad0;
$cms-orange: #d76c35;
$cms-red-orange: #cf4f27;
$cms-dark-red: #941f2e;
$cms-magenta: #961d56;
$cms-yellow: #d6aa2a;
$cms-green: #80ab40;

$cms-dark-blue: #013b63;
$cms-light-blue: #e5f3fa;

$white: #ffffff;
$gray-light: #f1f1f1;
$gray: #d6d7d9;
$gray-dark: #323a45;
$text: #212121;


$primary: $cms-blue;
$primary-dark: $cms-dark-blue;
$secondary: $cms-bright-blue;
$accent: $cms-gold;
$focus-color: $cms-bright-blue;
$banner-bg: #f0f0f0;
$footer-dark: #1b1b1b;
$footer-lighter: #3d4551;